<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GitHub Org Actions</title>
        {% if auto_refresh %}
        <meta http-equiv="refresh" content="10">
        {% endif %}
        <!-- url_for returns http (insecure) links for styles.css so need this to upgrade to https otherwise browser gives mixed content warning and won't load styles.css -->
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/elements.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="footer">
            <p style="font-size: 0.75em;"><a href="https://github.com/sekai-soft/github-org-actions" target="_blank" style="font-size: 1em;">GitHub</a> | <a href="https://sekaisoft.tech" target="_blank" style="font-size: 1em;">Sekaisoft</a></p>
        </div>
    </body>
</html>
