<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GitHub Org Actions</title>
        <meta http-equiv="refresh" content="30">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sekai-soft/galerie/static/base.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sekai-soft/galerie/static/elements.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        {%- for repo_res in res %}
        <p><a href="{{ repo_res.repo_url }}" target="_blank">{{ repo_res.name }}</a>&nbsp;(<a href="{{ repo_res.latest_commit_url }}" target="_blank">{{ repo_res.latest_commit }}</a>)</p>
        {%- for workflow_res in repo_res.workflows %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ workflow_res.name }}&nbsp;(<a href="{{ workflow_res.run_url }}" target="_blank">{{workflow_res.status}}</a>, {{time_ago(workflow_res.created_at)}})</p>
        {% endfor %}
        {% endfor %}
    </body>
</html>
